@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --header_font: "Bebas Neue", sans-serif;
    --regtext: "Roboto", sans-serif;
    --text_color: #dedcdc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --outline:1px dotted red;
    font-family: var(--regtext);
    color: var(--text_color);
    line-height: 130%;
}
main{
    display: flex;
    flex-direction: column;
    height: 100dvh;
    overflow-y: auto;
    scroll-timeline-name: --main-scroll;
    scroll-timeline-axis: block;
}
section{
    min-height: 200dvh;
    display: flex;
    flex-direction: column;
    --transform: translate(0%,-50%);
    justify-content: center;
    align-items: center;
}

.hero{
    margin-top: -50dvh;
    background: url(herobg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}
.story{
    min-height: 300dvh;
    justify-content: flex-start;
    padding-top: 5rem;
    background: url(storypicture.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.story h2{
    margin-bottom: 0.5rem;
}
.story h3{
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.story1 #text{
    margin-right: 2rem;
}

.story1{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #47474706;
    backdrop-filter: blur(4px);
    padding: 2rem;
    margin-right: 4rem;
    margin-left: 4rem;
    border-radius: 20px;
    box-shadow:
    0 8px 32px rgba(0,0,0,0.1);
    border: #434343 solid 3px;
    margin-bottom: 4rem;
} 
.story1 li{
    margin-left: 2rem;
}
.story1 img{
    border-radius: 20px;
}
.story2{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #47474706;
    backdrop-filter: blur(4px);
    padding: 2rem;
    margin-right: 4rem;
    margin-left: 4rem;
    border-radius: 20px;
    box-shadow:
    0 8px 32px rgba(0,0,0,0.1);
    border: #434343 solid 3px;
} 
.story2 li{
    margin-left: 2rem;
}
.story2 img{
    border-radius: 20px;
}
.story2 #text{
    margin-left: 2rem;
}
.characters{
    background: #f1f;
}
nav{
    position: sticky;
    top: 0dvh;
    background: #141414;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: var(--header_font);
    padding: 1rem;
    width:100%;
    animation: move-top-on-scroll linear forwards;
    animation-timeline: --main-scroll;        
    animation-range: 0vh 100dvh;
    z-index: 1000;
}

.logo{
    height: 50dvh;
    animation: move-top-on-scroll2 linear forwards;
    animation-timeline: --main-scroll;        
    animation-range: 0vh 100dvh;
}
.navleft,
.navright{
    --padding-left: 0rem;
    --padding-right: 0rem;
    display:flex;
    justify-content: space-evenly;
    width: 30vw;
    animation: move-top-on-scroll3 ease-in-out forwards;
    animation-timeline: --main-scroll;        
    animation-range: 0vh 100dvh;
}
.logodiv{
    display: flex;
    justify-content: center;
    width: 30vw;
}

nav a{
    font-family: var(--header_font);
    text-decoration: none;
    font-size: 150%;
    color: var(--text_color);
    transition: 0.25s;
}
nav a:hover{
    color: #ffffff8e;
    text-shadow: 0px 0px 3px #545454;
}


h1{
    font-family: var(--header_font);
    font-size: 400%;
    text-align: center;
    margin-top: 2rem;
}

h2{
    font-family: var(--header_font);
}
h3{
    font-family: var(--header_font);
}



@keyframes move-top-on-scroll {
  from {
    top: 25dvh; 
    height: 50dvh;
    background: #14141400;
  }
  to {
    top: 0;
    height: 12.5dvh;
    background: #141414;
  }
}
@keyframes move-top-on-scroll2 {
  from {
    top: 25dvh; 
    height: 50dvh;
  }
  to {
    top: 0;
    height: 12.5dvh;
  }
}
@keyframes move-top-on-scroll3 {
  from {
    top: 25dvh; 
    padding-left: 5rem;
    padding-right: 5rem;
  }
  to {
    top: 0;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
